/* Goolge */

#serp-preview.google {
    font-family: arial,sans-serif;
    margin: 0px 0px 27px 0px;
}

#serp-preview.google a {
    text-decoration:none;
}

#serp-preview.google a:link, .google .preview:active, .google .preview:visited {
    color: var(--google-link);
}

#serp-preview.google a:visited {
    color: var(--google-link-visited);
}

#serp-preview.google h3 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: normal;
    padding:4px 0px 0px 0px;
    margin: 0px 0px 3px 0px;
    display: inline-block;
}

#serp-preview.google .metadescription {
    color: var(--google-text-content);
    line-height: 1.58;
    word-wrap: break-word;
    font-size: 14px;
}

#serp-preview.google cite {
    font-style: normal;
    color: var(--google-url);
    font-size: 14px;
    display: block;
}
